@use '../../tools/responsive' as responsive;

.site-header {
    &__inner {
        margin-top: 3rem;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        position: fixed;
    }

    &__branding {
        width: 18rem;
    }
}

@include responsive.max(900px) {
    .site-header {
        &__branding {
            max-width: 15rem;
        }
    }
}
