@mixin standard(
    $background: var(--color-accent),
    $color: #fff,
    $padding: 1rem 1.5rem
) {
    background-color: $background;
    color: $color;
    padding: $padding;
    border-radius: none;
    border: none;
    display: inline-block;
    text-decoration: none;
    font-size: var(--font-size-2);
}
